* {
  box-sizing: border-box;
}

body {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 0;
  background: #fbfbfb;
}

.logoContainer {
  padding: 12px;
  background: white;
  text-align: center;
  border-bottom: solid 1px rgba(0,0,0,0.06)
}
.logo {
  width: 500px;
  max-width: 100%;
}

.whitebg {
  background: white;
}

.primaryBackground {
  background: #9bb5ac;
}

.center {
  text-align: center;
}

main {
  padding: 16px 32px;
}
