* {
  box-sizing: border-box;
}

body {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 0;
  background: #f3f3f3;
}

@media print {
  div {
    font-size: 8px !important;
    line-height: initial;
  }
  .shippingOptions, .orderQuantityContainer, .logoContainer, .platformImg {
    display: none !important;
  }
  .orderItemImg {
    max-width: 50px !important;
    height: 50px !important;
  }
  .order,.orderContent {
    flex: 0 1 49% !important;
    min-width: 49% !important;
    padding: 2px !important;
    margin: 2px !important;
  }

  .shipByDate {
    padding-top: 0px !important;
  }
  .shippingAddress {
    padding: 4px 2px 2px !important;
  }
  .shippingAddress {
    margin: 0 !important;
  }
}

.md-layout.md-gutter>.md-layout-item {
  padding-right: 10px;
  padding-left: 10px;
}

.logoContainer {
  padding: 12px;
  background: white;
  text-align: center;
  border-bottom: solid 1px rgba(0,0,0,0.06)
}
.logo {
  width: 500px;
  max-width: 100%;
}

.whitebg {
  background: white;
}

.lightgreybg {
  background: #fafafa;
}

.greybg {
  background: #fbfbfb;
}

.primaryBackground {
  background: #9bb5ac;
}

.center {
  text-align: center;
}

main {
  padding: 16px 32px;
}

hr {
  margin: 20px 0;
}

.p0 {
  padding: 0 !important;
}

.hidden {
  display: none;
}

.ordersHeading {
  text-align: center;
  font-size: 37px;
  border-bottom: solid 2px #cacaca;
  padding-bottom: 16px;
}

.cursor {
  cursor: pointer;
}
